.env*

*.pyc
__pycache__/
.mypy_cache/
.old/

# backend
**/migrations/**
!**/migrations/__init__.py
debug_db.sqlite3
/backend/django_static

# frontend
/frontend/node_modules
/frontend/build

# sort_algo
/sort_algo/target
/sort_algo/debug
